/* --- matugen gtk4-colors.css --- */

@define-color accent_color #f6bc70;
@define-color accent_fg_color #2a1800;
@define-color accent_bg_color #f6bc70;
@define-color window_bg_color #18120c;
@define-color window_fg_color #ede0d4;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @border;
@define-color button #3b342b;
@define-color border #f6bc7080;
@define-color accent_hover_glass color-mix(in srgb, @accent_bg_color 15%, transparent);
@define-color accent_selected_glass color-mix(in srgb, @accent_bg_color 30%, transparent);